   
   /* css for the home page */
body{
    font-family: sans-serif;
    background-color: grey ;
    
    
}
.page{
    font-family: fantasy;
}
.zeamanuelsDescription{
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    width: 80%;

}
.zahasImage{
    margin-right: 10px;
    width: 40%;
    height: 100%;
    border-radius: 90px;
    
}


.HeaderAndNav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(100, 89, 89);
    
}
.placesIhaveVisited{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between ;
}
.HeaderAndNav .dropdown .dropdown-content a{
    text-decoration: none;
}

  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(70, 10, 190);
  }
  
 
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    justify-items: center;
  }
  
 
  .dropdown-content a:hover {
    background-color: #4f4679;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.Orderedlist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sponsors{
    display: flex;
    flex-direction: column;
    background-color: #535c4a;
}

.ImageAndDescription{
    display: flex;
    justify-content: space-between;
    background-color: #535c4a;
}
.ContactDetails{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}
.descriptionMe{
    font-family: 'Kaushan Script', cursive;
}
.contactForm{
    background-color: rgb(73, 72, 72);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form{
    background-color: rgb(73, 72, 72);
    display: flex;
    flex-direction: column;
}
.placesIhaveVisited{
    display: flex;
    background-color: grey;
}
#honourId{
    background-color: grey;
}
.eduedu{
    display: flex;

    background-color: #535c4a;
}
.icons{
    background-color: rgb(44, 42, 42);
    font-size: 40px;
}
.lastFooter{
    background-color: rgb(38, 40, 48);
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
    
}
.footer-top{
   
    margin-top: 30px;
    display: flex;
    align-content: baseline;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
    font-size: larger;
    font-family: sans-serif;
}
.footer-Bottom{
    background-color: rgb(32, 33, 36);
    text-align: center;
    
    
}
.front{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    flex-direction: column;
}
.bottom{
    display: flex;
    flex-direction: column;
}
.back{
    display: flex;
    flex-direction: column;
}
.left{
    display: flex;
    flex-direction: column;
}.right{
    display: flex;
    flex-direction: column;
}
.travelimage{
    width: 100px;
    height: 100px;    
}
.futureh1{
    background-color: black;
    color: white;
}
.gallery{
    background-color: rgba(83, 92, 74, 0.404);
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    justify-content: space-around;
    text-align: center;
}
.TI1 , .TI3{
    height: 182%;
}
.wrapperjobs{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.wrapperJobs1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

img{
    border-radius: 10px;
}
.discription{
    font-family: 'Kaushan Script', cursive;
}
.HobbiesWrapeer{
    background-color: rgba(165, 42, 42, 0.212);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    
    
}
p{
    font-family: 'Kaushan Script', cursive;
    
}
.hob2 img{
    border-radius: 20%;
    margin-bottom: 3px;
    
    
}
.hob1 img{
    border-radius: 20%;
    margin-bottom: 3px;
   
    
}
.hob3 img{
    border-radius: 20%;
    margin-bottom: 3px;
   
}
.hob4 img{
    border-radius: 20%;
    margin-bottom: 3px;
   
}
.hob5 img{
    border-radius: 20%;
    margin-bottom: 3px;
   
}
.dreamJob{
    background-color: #2d312763;
    display: flex;
    
    flex-direction: column;

}
.dulal{
    background-color: rgba(101, 190, 12, 0.253);
}
.dreamJob{
    display: flex;
    justify-content: center;
    
}

.backgroundimageducation{
   
    display: flex;
    height: 250px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    border: 3px solid white;
    
    
   
   
   
}

.fgt{
    background-color: #535c4a;
    margin: 0px;
}
.col-A{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 95%;
    background-color: grey;
    align-content: space-between;
    justify-content: space-between;
}
#myedu{
    font-weight: 1000;
}

.col-B{
   
    display: flex;
    flex-direction: column;    
    background-color: #535c4a;
    justify-content: space-between;
    align-self: stretch;  
}

.flexboxItem{
    height: 9px;
    
    padding: 2px;
}
.honours{
    background-color: rgb(97, 60, 60);
    display: flex;
    justify-content: space-between ;

}
.volunteerContent{
    background-color: #535c4a;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.volunteerImg{
    width: 50%;
    height: 50%;
}





