body{
    display: grid;
    justify-content: space-between;
    font-family: sans-serif;
    background-color: grey ;
 
    row-gap: 10px;
}
.HeaderAndNav{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    background-color: rgb(100, 89, 89);
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(70, 10, 190);
  }
  
 
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    justify-items: center;
  }
  
 
  .dropdown-content a:hover {
    background-color: #4f4679;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.ImageAndDescription{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2,1fr);
}
.sponsors{
    display: grid;
    background-color: #535c4a;
    
}
.Orderedlist{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.ContactDetails{
    background-color: grey;
    display: grid;
    justify-content: center;
}
.contactForm{
    background-color: rgb(73, 72, 72);
}

.contactFormABC{
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}
.lastFooter{
    display: grid;
    background-color: rgb(38, 40, 48);
    height: 140px;
    align-content: space-around;
    
}
.footer-top{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4fr;
    

}
.honours{
    display: grid;

}
footer{
    display: grid;
}
.footer-Bottom{
    display: grid;
    justify-content: center;
    background-color: rgb(32, 33, 36);
}
/* .icons{
    background-color: rgb(44, 42, 42);
    font-size: 40px;
} */
.foot{
    display: grid;
    row-gap: 1em;
    background-color: rgb(73, 72, 72);

}
.descriptionMe{
    font-family: 'Kaushan Script', cursive; 
}
.placesIhaveVisited{
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.gallerdiv{
    width: 100px;
    height: 100px;
}
.gallery{
    display: grid;
    justify-items: center;

}
.HobbiesWrapeer{
    display: grid;
    justify-items: center;
}
p{
    font-family: 'Kaushan Script', cursive;
}
.icons{
    background-color: rgb(44, 42, 42);
}
.dreamJob{
    display: grid;
    
}
.zahasImage{
    border-radius: 30px;
}
.zeamanuelsDescription{
    font-family: 'Kaushan Script', cursive;
    
    width: 100%;
}
.educeduca{
    display: grid;
  
}
.backgroundimageducation{
    display: grid;
    border: 3px solid whitesmoke;
    grid-template-columns: repeat(2, 1fr);

}

.careerImgs{
    border-radius: 30px;
 

}
.wrapperjobs{
    display: grid;
    text-align: center;
}
.hob1{
    display: grid;
    justify-items: center;
}
.hob2{
    display: grid;
    justify-items: center;
}
.hob3{
    display: grid;
    justify-items: center;
}
.hob4{
    display: grid;
    justify-items: center;
}
.hob5
{
    display: grid;
    justify-items: center;
}
hr{
    width: 100%;
    color: lightblue;
}
.wrapperJobs1{
    display: grid;
    text-align: center;
   
}
.volunteerImg{
    width: 50%;
    height: 50%;
}
.volunteerContent{
    display: grid;
    flex-direction:column;
    text-align: center;
}


